*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    
}

.logo{
    width: 34px;
    height: 20px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 65px;
}

.item1 ul{
    display: flex;
     gap: 35px;
}

.item1 ul li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
   
}   

.logo img{
    width: 110px;
}

.item1 ul li img{
    width: 14px;
}

main img.red{
    padding: 0px 10px;
    height: 35px;
    background-color: red;
    border-radius: 4px;
}

main span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin: 75px 0px;
    font-family: sans-serif;
}

main span p{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main span p img{
    margin: 0px 12px;
}

main span div{
    text-align: center;
    width: 610px;
}

.btn{
    background-color: rgb(86, 188, 192);
    border-radius: 7px;
    padding: 14px 10px;
    cursor: pointer;
    color: white;
    border: none;
    margin: 12px 0px    ;
}
main span div button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(99, 176, 223);
}

.download{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    
}

.grid{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.blue{
    background-color: rgb(86, 188, 192);
}

.green{
    background-color: #5cb85c;
}

.item2{
    padding: 23px 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang{
    font-weight: 700;
    text-align: center;
    padding-bottom:40px ;
}

.second{
    max-width: 60vw;
    margin: auto; 
}

main section div img{
    width: 40px;
}

@media screen and (max-width: 770px) {
    .grid{
    display:grid ;
    grid-template-columns: 1fr ;
    gap: 25px;
}
}